<loading></loading>
<div class="alert alert-danger" role="alert" ng-if="errorMessage">{{errorMessage}}</div>
<div class="box-body">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Digite a busca desejada..." ng-model="searchFish" style="width:270px">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                  <span class="input-group-addon">
                    <label>Confiança</label>
                  </span>
                <select ng-model="selectedSinalMaiorMenor" style="width: 60px;" class="form-control" ng-options="x for x in CC.sinalMaiorMenor"><option value="">-</option></select>
                <select ng-model="selectedPrcConfianca" style="width: 70px;" class="form-control" ng-options="x for x in CC.prcConfianca"><option value="">-</option> </select>
                <select ng-model="selectedTpTreinamento" style="width: 100px;" class="form-control" ng-options="x for x in CC.tpTreinamento"><option value="">-</option> </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                  <span class="input-group-addon">
                    <label>Treinamento</label>
                  </span>
                <select ng-model="selectedOpcaoTreinamento" style="width: 70px;" class="form-control" ng-options="x for x in CC.opcaoTreinamento"><option value="">-</option></select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <button ng-click="CC.modalEntidade('lg')" class="btn btn-primary direita" ng-disabled="CC.disableBtnTreinarEntidade" ng-hide="CC.mostrarbtnEnt">Treinar Entidade</button>
                <button ng-click="CC.modalIntencao('lg')" class="btn btn-primary direita" ng-disabled="CC.disableBtnTreinarIntencao"ng-hide="CC.mostrarbtnInt">Treinar Intenção</button>
            </div>
        </div>
    </div>
</div>
<div class="box-body">
    <div class="tabela">
        <div class="box_limiteAltura">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th><a href="#" > </a>
                        <div><a href="#" > </a></div>
                    </th>
                    <th>ID da Conversa
                        <div><a href="#" ng-click="CC.sort_by('conversation_id')">
                            ID da Conversa
                            <span ng-show="CC.showDown('conversation_id')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('conversation_id')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>Mensagem do Usuário
                        <div><a href="#" ng-click="CC.sort_by('msgUser')">
                            Mensagem do Usuário
                            <span ng-show="CC.showDown('msgUser')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('msgUser')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>% Confiança Intenção
                        <div style="text-align: center;"><a href="#" ng-click="CC.sort_by('confidenceIntencao')">
                            % Confiança Intenção
                            <span ng-show="CC.showDown('confidenceIntencao')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('confidenceIntencao')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th># Intenção
                        <div><a href="#" ng-click="CC.sort_by('intencao')">
                            # Intenção
                            <span ng-show="CC.showDown('intencao')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('intencao')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>% Confiança Entidade
                        <div style="text-align: center;"><a href="#" ng-click="CC.sort_by('confidenceEntidade')">
                            % Confiança Entidade
                            <span ng-show="CC.showDown('confidenceEntidade')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('confidenceEntidade')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>@ Entidade
                        <div><a href="#" ng-click="CC.sort_by('entidade')">
                            @ Entidade
                            <span ng-show="CC.showDown('entidade')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('entidade')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>Data / Hora
                        <div><a href="#" ng-click="CC.sort_by('data')">
                            Data / Hora
                            <span ng-show="CC.showDown('data')" class="fa fa-caret-down"></span>
                            <span ng-show="CC.showUp('data')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>Treino<div style="text-align: center;"><a href="#">
                        Treino</a></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in CC.items | filter: searchFish | filterTreinamento:selectedOpcaoTreinamento | filterConfianca:selectedSinalMaiorMenor:selectedPrcConfianca:selectedTpTreinamento | orderBy:CC.sortType:CC.sortReverse">
                        <td>
                            <input type="checkbox" name="CC.selectedItem[]"  value="{{item.id}}" ng-checked="CC.selection.indexOf(item.id) > -1" ng-click="CC.toggleSelection(item.id)">
                        </td>
                        <td>{{item.conversation_id}}</td>
                        <td>{{item.msgUser}}</td>
                        <td style="text-align: center;">{{item.confidenceIntencao}} <span ng-show="isNumber(item.confidenceIntencao)">%</span></td>
                        <td>{{item.intencao}}</td>
                        <td style="text-align: center;">{{item.confidenceEntidade}} <span ng-show="isNumber(item.confidenceEntidade)">%</span></td>
                        <td>{{item.entidade}}</td>
                        <td>{{item.data}}</td>
                        <td style="text-align: center;"><span ng-show="{{item.treinado}}" class="fa fa-check" aria-hidden="true"> </span></td>
                        <!--<td>{{item.id}}</td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
