<div class="box-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Digite a busca desejada..." ng-model="searchFish" style="width:350px">
            </div>
        </div>
    </div>
    <br>
    <div class="tabela">
        <div class="box_limiteAltura">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nome
                        <div><a href="#" ng-click="UC.sort_byU('nome')">
                            Nome
                            <span ng-show="UC.showDownU('nome')" class="fa fa-caret-down"></span>
                            <span ng-show="UC.showUpU('nome')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>E-mail
                        <div><a href="#" ng-click="UC.sort_byU('email')">
                            E-mail
                            <span ng-show="UC.showDownU('email')" class="fa fa-caret-down"></span>
                            <span ng-show="UC.showUpU('email')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>Telefone
                        <div><a href="#" ng-click="UC.sort_byU('fone')">
                            Telefone
                            <span ng-show="UC.showDownU('fone')" class="fa fa-caret-down"></span>
                            <span ng-show="UC.showUpU('fone')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                    <th>Data
                        <div><a href="#" ng-click="UC.sort_byU('data')">
                            Data
                            <span ng-show="UC.showDownU('data')" class="fa fa-caret-down"></span>
                            <span ng-show="UC.showUpU('data')" class="fa fa-caret-up"></span>
                        </a></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in UC.items | orderBy:sortType:sortReverse | filter:searchFish | filterTreinamento:selectedOpcaoTreinamento | filterConfianca:selectedSinalMaiorMenor:selectedPrcConfianca:selectedTpTreinamento " >
                    <td>{{item.nome}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.fone}}</td>
                    <td>{{item.data}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>