.loading {
    position: fixed;
    left: 0px;
    top:0px;
    margin:0px;
    width: 100%;
    height: 100%;
    display:block;
    z-index: 9999997;
    opacity: 0.65;
    -moz-opacity: 0.65;
    filter: alpha(opacity = 65);
    background: black;
    //background-image: url("/images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position:50% 50%;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    color: white;
    padding-top: 25%;
}